
table.diff {
  border-spacing: 4px;
  margin-bottom: 20px;
  table-layout: fixed;
  width: 100%;
}
td.diff-prevlink {
  text-align: left;
}
td.diff-nextlink {
  text-align: right;
}
td.diff-section-title, div.diff-section-title {
  background-color: #f0f0ff;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.1em 1em;
  margin-top: 1.5em;
}
td.diff-deletedline {
  background-color: #ffa;
  width: 300px;
}
td.diff-deletedline-icon {
  font-size: 20px;
  color: red;
  font-weight: bold;
}

td.diff-addedline {
  background-color: #afa;
  width: 300px;
}
td.diff-addedline-icon {
  font-size: 20px;
  color: green;
  font-weight: bold;
}
td.diff-context {
  background-color: #fafafa;
}
span.diffchange {
  color: #f00;
  font-weight: bold;
}

table.diff th {
  padding-right: inherit;
}
table.diff td div {
  overflow: auto;
  padding: 0.1ex 0.5em;
  word-wrap: break-word;
}
table.diff td {
  padding: 0.1ex 0.4em;
}

col.diff-marker  { width:20px; }
col.diff-content { width:300px; } 

del {color:red;}
ins {color:green;}

.current-search {font-weight: bold;}